#!/bin/bash

# Point `kubectl` to the specified environment
# usage: kubeinit dev|qa|preprod|prod
#
# This is written as a bash function so that we can manipulate the
# current shell's environment (the kubeinit command prints an export command
# to stdout)
kubeinit() {
    eval "$(~/bin/kubeinit "$1" 2> /dev/null)"
}

