[user]
  name = Ryan Campbell
  email = ryan.campbell@kirasystems.com
	signingkey = 68AAD397B1C69A9574F84572923BC6AB4EEB29D7

[commit]
  verbose = true
	gpgsign = true

[color]
  ui = auto

[alias]
  l = log --graph --decorate --all
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  hist = log --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --date=short
  dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
  redate = !EDITOR=true git rebase --interactive --onto $(git merge-base -a HEAD @{upstream}) --exec 'sleep 1 && git commit --amend --date=now --no-edit'
  rebase-upstream = !git rebase --onto $(git merge-base -a HEAD @{upstream})
  co = !git checkout $(git branch | fzf --height=40%)
  cor = !git checkout $(git branch -r | fzf --height=40%)
  af = !git autofixup $(git merge-base -a HEAD @{u})
  nb = new-branch

[log]
  decorate = short

[rebase]
  autosquash = true

[credential]
  helper = cache

[core]
  pager = delta
  editor = nvim

[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended
    line-numbers = true

[interactive]
    diffFilter = delta --color-only

[diff]
  compactionHeuristic = true
  colorMoved = default

[fsck]
  zeroPaddedFilemode = ignore

[fetch]
  prune = true

[tig]
  vertical-split = true

[url "git@github.com:kirasystems/"]
	insteadOf = https://github.com/kirasystems/
